body{
    background-color: #DDD;
    margin: auto;
    width: auto;
}
.menu{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    background-color: yellow;
    font-size: 20px;
    font-family:"Times New Roman";
    font-weight: bold;
    width: 1300px;
}
.parent{
        position: relative;
}
img.superposer{
                position: absolute;
                top: 110px;
                left: 0px;
            
}
.accueil1{
    
    margin-left: 40px;
    
    display: flex;
    background-color: #fff;
    opacity: 0.5;
    position: relative;

   
}
.transparent {
   
    font-size: 20px;
    display: flex;
   
  
}

a{
    text-decoration: none;
}
.bande{
    background-color: green;
    display: flex;
}

.centre1{
    margin-left: 550px;
    text-align: center;
    border: 20px;
    background-color: yellow;
    width: 20%;
    border-radius: 50%;
    height: 55;
    top: 20px;
}
.specialites{
    display: flex;
    font-size: 20px;
    margin-left: 40px;
}
.avantpied{
    display: flex;
    font-size: 17px;
}

.apied{
    background-size: #fff;
}
.pied{
    background-color: black;
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    
}
.toutpied{
    background-color: rgb(23, 59, 19);
    color: #fff;
}